<%= notice %>
<%= form_for @velo do |form| %>

    <%= form.label :nom_de_velo %>
    <%= form.text_field :nom_de_velo %>

    <%= form.label :type_de_velo %>
    <%= form.select :type_de_velo, ["mécanique","éléctrique"] %>

    <%= form.submit %>

<% end %>