<div class="header">
    <h1>Vélos</h1>
    <%= link_to "Voir les pannes", pannes_path %>
</div>

<p style="color: green"><%= notice %></p>

<% @velos.each do |velo| %>
    <div class="cartes_de_presentation">
        <p>Nom du velo : <%= velo.nom_de_velo %></p>

        <p>Type de velo : <%= velo.type_de_velo %></p>

        <% if velo.pannes %>
            <% velo.pannes.each do |panne| %>
                <p>La panne : <p>
                <%= content_tag :p, class: "text_explications_index" do -%>
                    <%= panne.explication_de_la_panne %>
                <% end -%>
                <p>La réparation faite sur cette panne : <%= panne.reparations.ids %><br>
            <% end %>
        <% end %>
        
        <br>
        
        <%= link_to "Details", velo_path(velo.id), 
            {:style=>'color:#FFFFFF;', :class => "boutton_details margin"} %>
    </div>
<% end %>

<br>

<%= link_to "Nouveau vélo", new_velo_path, 
    {:style=>'color:#FFFFFF;', :class => "boutton_nouveau margin"} %>

