<p style="color: green"><%= notice %></p>
<div class="cartes_de_presentation">
    <h1>
        Le numéro du vélo : <%= @velo.nom_de_velo %>
    </h1>

    <p>
        Le type de vélo : <%= @velo.type_de_velo %>
    </p>

    <% @velo.pannes.each do |panne| %>
        <strong>La panne :</strong>
        
        <%= content_tag :p, class: "text_explications_show" do -%>
            <%= panne.explication_de_la_panne %>
        <% end -%>

        <p>
            <%= link_to "Voir la panne", panne, 
                {:style=>'color:#FFFFFF;', :class => "boutton_details margin"} %>
        </p>
    <% end %>

    <br>

    <%= link_to "Ajouter une panne a ce vélo", new_panne_path, 
        {:style=>'color:#FFFFFF;', :class => "boutton_ajouter_une_panne margin"} %>

    <br>

    <%= link_to "Modifier la fiche du vélo", edit_velo_path, 
        {:style=>'color:#FFFFFF;', :class => "boutton_modifier margin"} %>

    <br>

    <%= link_to "Supprimer la fiche de ce vélo et la panne", @velo, 
        data: { turbo_method: :delete } %> <br>
</div>

<br>

<%= link_to "Retour", velos_path, 
    {:style=>'color:#FFFFFF;', :class => "boutton_retour margin"} %>
