<%= form_for @panne do |form| %>

    <%= form.label :categorie_de_panne %>
    <%= form.select :categorie_de_panne, 
        ["probleme de roue","probleme de moteur", "cassette usée", "chaîne usée"] %>

    <%= form.label :explication_de_la_panne %>
    <%= form.text_area :explication_de_la_panne %>

    <%= form.label :velo_id %>
    <%= form.select :velo_id, Velo.all.map {|contenu| [contenu.nom_de_velo, contenu.id]} %>

    <%= form.submit %>

<% end %>