<div class="header">
    <h1>Pannes</h1>
    <%= link_to "Voir les vélos", velos_path %>
</div>

<p style="color: green"><%= notice %></p>

<% @pannes.each do |panne| %>
    <div class="cartes_de_presentation">
        <p>
            Catégorie de la panne : <%= panne.categorie_de_panne %>
        </p>
        
        <p>
            Explication de la panne :
        </p>
        
        <%= content_tag :p, class: "text_explications_index" do -%>
            <%= panne.explication_de_la_panne %>
        <% end -%>

        <br>
        
        <% if panne.reparations %>
            <% panne.reparations.each do |reparation| %>
                <p>
                    La réparation faite sur cette panne : 
                <p>
                <%= reparation.reparation_faite %>
            <% end %>
        <% end %>
        
        <br>

        <%= link_to "Details", panne_path(panne.id), 
            {:style=>'color:#FFFFFF;', :class => "boutton_details margin"} %>
    </div>
<% end %>

<br>

<%= link_to "Nouvelle panne", new_panne_path, 
    {:style=>'color:#FFFFFF;', :class => "boutton_nouveau margin" } %>

