<p style="color: green"><%= notice %></p>
<div class="cartes_de_presentation">
    <% if @panne.velo %>
        <h1>Nom du vélo : <%= @panne.velo.nom_de_velo %></h1>
    <%end%>

    <h2>Catégorie de probleme : <%= @panne.categorie_de_panne %></h2>

    <strong>Explications :</strong>
    <%= content_tag :p, class: "text_explications_show" do -%>
        <%= @panne.explication_de_la_panne %>
    <% end -%>

    <%= render 'reparations/reparations' %>
</div>

<%= render 'reparations/form' %>

<br>

<%= link_to "Modifier la panne", edit_panne_path, 
    {:style=>'color:#FFFFFF;', :class => "boutton_details"} %>

<br>

<%= link_to "Supprimer la fiche de cette panne", @panne,
    data: { turbo_method: :delete, 'turbo-confirm': 'Etes-vous sure ?' } %>

<br>

<%= link_to "Retour", pannes_path, 
    {:style=>'color:#FFFFFF;', :class => "boutton_retour"} %>
