<%= form_for ([@panne, @reparation]) do |form| %>

    <%= form.label "Réparation faite le :" %>
    <%= form.text_field :reparation_faite %>

    <%= form.label :maniere_de_reparer %>
    <%= form.text_area :maniere_de_reparer %>
    
    <%= form.label :materiel_utiliser %>
    <%= form.text_area :materiel_utiliser %>

    <%= form.submit %>

<% end %>