<% @reparations.each do |reparation| %>
    <ul>
        <li>
            <p>Date de la réparations : <%= reparation.reparation_faite %></p>
            
            <p>La date de la réparations : <%= reparation.maniere_de_reparer %></p>
            
            <p>materiel utiliser pour la panne : <%= reparation.materiel_utiliser %></p>

            <%= link_to "Supprimé", panne_reparation_path(reparation.panne_id, reparation.id), 
                data: { turbo_method: :delete }  %>
        </li>
    </ul>
<% end %>