/* Body */

body{
    background-color: #F0F0F0;
}

/* Header */

.header{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

 /* Les différents boutons */

.boutton_details{
    background-color: #1F5CFF;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_retour{
    background-color: #A4A6A4;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_modifier{
    background-color: #1F5CFF;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_confirmation{
    background-color: #44FF1F;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_nouveau{
    background-color: #44FF1F;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_supprimes{
    background-color: #FF1F1F;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

.boutton_ajouter_une_panne{
    background-color: #FF1F1F;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;
    padding: 3px;
}

/* Carte utiliser dans les listes pour présenté les différents éléments */

.cartes_de_presentation{
    background-color: white;
    margin-top: 10px;
    width: 35vw;
    text-align: inherit;
    border-radius: 10px;
    padding: 2px;
}

/* Géré le contenu explicatif sur une page index et show */

.text_explications_show{
    width: 200px;
    overflow-wrap: anywhere;
}

.text_explications_index{
    width: 200px;
    overflow: hidden;
}


/* Margin de tous les button */

.margin{
    margin:5px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
